thead {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0;
}

table thead tr th {
    outline: 0.5px solid #e9ecef;

  }